.table {
  margin: 1rem 0 3rem 0;
  border: 1px solid rgb(10, 10, 10);
  font-size: $primary-font-size;
  width: 100%;
  // position: relative;
  // height: 100%;
  // width: 100%;

  &--center {
    text-align: center;
  }
  &__row {
    &--green {
      background-color: #05a84c;
      color: #ffffff;
    }

    &--bold {
      font-weight: 600;
    }
  }

  &__header-cell {
    padding: 1rem;

    &--with-tooltip {
      display: flex;
    }
  }

  &__data-cell {
    padding: 0.2rem 0.5rem;
    border: 1px solid rgb(10, 10, 10);
    &--description {
      width: 100%;
    }
  }
}
