.about-container {
  &__heading {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.7rem;
  }

  &__paragraph {
    font-size: $primary-font-size;
    margin-bottom: 1.5rem;

    &--large-margin {
      margin-bottom: 4rem;
    }
  }

  &__link {
    color: #07a84c;
  }
}

.about-container-logo-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  &__image {
    width: 100%;
    height: 11.5rem;
  }
}
