.chart-container {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 48%;
  padding: 2rem;
  display: inline-block;
  margin: 1rem;
  min-height: 50rem;

  @include respond(tab-small-land) {
    width: 100%;
  }

  &--maximized {
    display: block;
    width: 100%;
  }

  &__items-box {
    display: flex;
    justify-content: space-between;

    &--small-margin {
      @include respond(tab-small-land) {
        margin-bottom: 1rem;
      }
    }
  }
}

.pie-container {
  display: flex;
  flex-direction: column;
}

.chart-container-title-box {
  &__heading {
    font-size: 2.5rem;
  }

  &__paragraph {
    font-size: $primary-font-size;
    width: 25rem;
    position: absolute;

    &--full-width {
      width: 100%;
      position: relative;
    }
  }
}

.pie-container-items {
  width: 100%;
  height: 40rem;

  &--maximized {
    width: 100%;
    height: 50rem;

    @include respond(tab-big-port) {
      width: 100%;
      height: 40rem;
    }

    @include respond(phone) {
      height: 45rem;
    }
  }
}

.pie-chart-text {
  font-size: $primary-font-size;
  font-weight: 550;
}

.legends-list {
  list-style-type: none;
}

.piechart-legend-item {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.5rem;
}

.piechart-legend-item-circle {
  height: $primary-font-size;
}

.select-min-max-button-container {
  display: flex;
}

.select-menus-container {
  width: 100%;
  margin-bottom: 1.5rem;
}

.collapse-icon-container {
  @include respond(tab-small-land) {
    display: none;
  }
}

.table-tooltip-container {
  margin-left: 0.7rem;
}

.cultures-container {
  &:not(&:last-child) {
    margin-bottom: 1rem;
  }

  &__heading {
    font-size: 1.7rem;
  }

  &__paragraph {
    font-size: $primary-font-size;
  }

  &__link {
    color: #07a84c;
  }
}

.botanical-names-table {
  font-size: 1.6rem;
  &__cell {
    padding: 1rem;

    &--first {
      padding-left: 0rem;
    }
  }
}

.piechart-table {
  &__paragraph {
    font-weight: 600;
    margin-top: 2.5rem;
    font-size: $primary-font-size;
  }
}

.data-not-found-container {
  height: 40rem;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    color: #09a94d;
  }
}

.not-found-container-items {
  height: 40rem;
}

.agrotechnics-container {
  width: 100%;
}

.agrotechnics {
  padding-top: 2rem;
  &__title {
    font-size: 1.75rem;
    cursor: pointer;
    text-decoration: underline;
  }

  &__link {
    font-size: 1.8rem;
    cursor: pointer;
    text-decoration: underline;
  }
}

.agrotechnics-pagination {
  margin-bottom: 2rem;
}

.economic-size-container {
  &__heading {
    margin-bottom: 1rem;
  }

  &__list {
    margin-bottom: 3rem;
  }

  &__item {
    list-style: none;
    font-size: 1.6rem;
  }
}

.tableData-container {
  margin-top: 2rem;
}

.recharts-tooltip-wrapper {
  font-size: $primary-font-size;
}

.recharts-legend-item {
  font-size: $primary-font-size;
}

.recharts-legend-wrapper {
  position: absolute;
  height: auto;
  left: 0.5rem;
  bottom: 0.5rem;
}

.recharts-default-legend {
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.recharts-legend-item {
  display: inline-block;
  margin-right: 1rem;
}

.recharts-surface {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.recharts-pie-label-text {
  font-size: 1.4rem;
  font-weight: 550;
}

.piechart-label {
  visibility: hidden;
}

.piechart-label:hover {
  visibility: visible;
}

.recharts-layer {
  position: relative;
  min-width: 550px;
  min-height: 550px;
}

.recharts-pie-labels {
  position: relative;
  min-width: 550px;
  min-height: 550px;
}
