.classes-container {
  &__heading {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.7rem;
  }

  &__secondary-heading {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
  }

  &__paragraph {
    font-size: $primary-font-size;
    margin-bottom: 1.5rem;
  }

  &__link {
    color: #07a84c;
  }
}
