.client-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  &__heading {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
    font-weight: 600;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__input-container {
    display: flex;
    padding: 0.7rem 0;
  }

  &__button-container {
    margin-top: 1.5rem;
  }

  &__circ-progress {
    color: #07a84c;
    display: flex;
    justify-content: center;
  }
}
