.client-view-container {
  &__not-found-error {
    font-size: 2.2rem;
    text-align: center;
  }
}

.client-view-header-box {
  display: flex;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-direction: column;
    text-align: center;
  }

  &__heading {
    font-size: 2.7rem;
    font-weight: 600;
  }

  &__button-container {
    @include respond(tab-port) {
      align-self: center;
    }
  }
}

.client-view-name-class-container {
  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    align-self: center;
  }
  &__text {
    font-size: 2.2rem;
    font-weight: 550;

    &--group {
      font-weight: 500;
      font-size: $primary-font-size;
    }
  }
}

.class-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  @include respond(small-phone) {
    flex-direction: column;
  }
  &__text {
    font-weight: 500;
    margin-right: 1rem;
  }
}

.tooltip-link {
  text-decoration: underline;
  font-size: 1.6rem;
  color: #ffffff;
}

.charts-container {
  margin: 3rem 1rem;
}

.charts-pair {
  display: flex;

  @include respond(tab-small-land) {
    flex-direction: column;
    align-items: center;
  }

  &--maximixed {
    display: block;
  }
}
