.footer {
  background-color: #07a84c;
  padding: 1.5rem;
  width: 100%;
  font-size: 1.4rem;
  color: #fff;
  height: 10rem;

  @include respond(phone) {
    height: 12rem;
  }

  &__copyright {
    text-align: center;

    &--first {
      padding-top: 0.5rem;
      width: fit-content;
      margin: 0 auto;
      border-top: 1px solid #fff;
    }
  }
}

.language-list {
  display: flex;
  justify-content: center;

  &__item {
    padding: 0.5rem 1rem;
    list-style-type: none;
    cursor: pointer;

    &--selected {
      opacity: 0.8;
      pointer-events: none;
    }
  }
}
