.header-container {
  margin-bottom: 3rem;
}

.logo-box {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;

  &__image {
    height: 11.5rem;
  }
}

.navigation-box {
  background-color: #07a84c;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &--sticky {
    top: 0;
    position: fixed;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    animation: fadeInDown 1s both 0.2s;
  }
}

.navigation-list {
  display: flex;
  justify-content: center;

  &__item {
    list-style-type: none;
    padding: 2.2rem 1rem;
  }

  &__link {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.logo-box-white {
  position: absolute;
  left: 10%;

  &__image {
    height: 5rem;
  }
}
