.not-found-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  &__heading {
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
  }
  &__paragraph {
    font-size: $primary-font-size;
  }

  &__button-container {
    margin-top: 1rem;
    align-self: center;
  }
}
