.parcel-container {
  margin-bottom: 3rem;

  &__heading {
    font-weight: 550;
    font-size: 1.7rem;
  }
}

.parcel-container-list {
  margin-bottom: 2rem;
  &__item {
    list-style: none;
    font-size: $primary-font-size;
  }
}

.parcel-close-icon-container {
  display: flex;
  justify-content: flex-end;
}
