*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px;
  overflow-y: overlay;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  min-height: calc(100vh - 10rem);

  @include respond(phone) {
    min-height: calc(100vh - 12rem);
  }
}
